@{
    ViewData[""] = "Rb Pisos";
}
<!-- Inicio Titulo -->
<section class="inicio">
    <div>
        <h1>Sistema da Rb Pisos</h1>
        <p>Esse sistema é para controle de entregas, consultar estoque</p>
    </div>
</section>

